.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

.nb-color-greenblue {
    background-color: #003848;
    border-top-color: #282829;
    border-bottom-color: #282829;
}

.nb-logo-font {
    font-family: Yanone Kaffeesatz;
    font-size: 48px;
    text-decoration: none;
    line-height: 48px;
    color: #afcfdf;
}

.nb-logo-font::hover {
    font-family: Yanone Kaffeesatz;
    font-size: 48px;
    text-decoration: none;
    line-height: 48px;
    color: #afcfdf;
}